#gallery {
    float: left;
    width: 65%;
    min-height: 12em;
}

.gallery.custom-state-active {
    background: #eee;
}

.gallery li {
    float: left;
    width: 96px;
    padding: 0.4em;
    margin: 0 0.4em 0.4em 0;
    text-align: center;
}

.gallery li h5 {
    margin: 0 0 0.4em;
    cursor: move;
}

.gallery li a {
    float: right;
}

.gallery li a.ui-icon-zoomin {
    float: left;
}

.gallery li img {
    width: 100%;
    cursor: move;
}

#todolist {
    float: right;
    width: 32%;
    min-height: 18em;
    padding: 1%;
}

#todolist h4 {
    line-height: 16px;
    margin: 0 0 0.4em;
}

#todolist h4 .ui-icon {
    float: left;
}

#todolist .gallery h5 {
    display: none;
}

#todolist {
    list-style-type: none;
}

#gallery li,
#todolist li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 110px;
    position: relative;
}

#gallery i,
#todolist i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-text {
    resize: none;
}

.add-btn {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}